In [11]:
# 전화번호 입력해서 뒷자리 #으로 감추기.

numbers = '010-12345-23456'
answer=numbers.replace(numbers[-5:], '#####')
def change_num(nums):
    return answer

#change_num('010-13579-24688')  #작은 따옴표나 큰 따옴표로 묶어서 스트링으로
change_num(str(numbers))

'010-12345-#####'

In [25]:
## overlap

overlap = [[1,2],3,[[4,5,6],7],8,9]

def flatten(data):
    output = []  # 빈 리스트를 만듭니다.
    
    for item in data:
        if type(item) == list:
            output += flatten(item)
        else:
            output.append(item)
    return output

flatten(overlap)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
#프로젝트3: 10 이하 숫자만 곱해주는 함수

#x = 10.0
# if type(x) == int:
#     print('정수입니다.')

# answer = 0
def int_divider(x,y):
    answer =0
    if x % 1 == 0 and y % 1 == 0:
        anser = x / y
    else:
        print('정수만 가능합니다.')
        answer = None
    
    return answer


int_divider(10, 2)

0

In [2]:
#3
#######################

# 함수에 몇 개의 input이 들어오든지 상관없이 , 10 이하 숫자면 모두 곱해주는 함수를 만들어 봅시다.
# 1, 2, 3 이 들어오면 6을 출력하고
# 2,3,4,5이 들어오면 120을 출력해야 합니다.
# 인수의 개수가 정해져 있지 않을 때는 가변인수를 활용해야 합니다.

def mul(*values):
    output = 1
    for num in values:
        print(num)
        if num <= 10:
            output = output * num
            # print(num)
        else:
            pass
        
        return output
    
mul(2,3,4)

2
2

2